$bgc-base: #FFFFFF;
$bgc-form: #FFFFFFC9;
$color-underline: #707070;
$bgc-gray: #F0F1F1;
$numbers-brown: #5E5322;
$bgc-bar: #FAD648;
$color-log:#737373;
$color-base:#3C3C3C;
$color-alt: #3C3C3C26;
$color-btn: #000000;
$color-decoration: #1A1818;
$color-signature: #231F20;