@import "./settings/colors";

.aboutUs {
    display: flex;
    margin-top: 80px;
    background-color: $bgc-gray;
    &__info {
        margin-top: 130px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        
    }
    &__image {
        width: 50%;
        background-image: url("../assets/People.jpg");
        padding-bottom: 56.25%; 
        background-size: cover;
        background-position: left -100px bottom;
    }
}

.info {
    &__title {
        letter-spacing: -0.76px;
        font-size: 30px;
        margin-bottom: 25px;
    }
    &__text {
        font-size: 22px;
        margin: 0;
        margin-top: 55px;
        margin-bottom: 45px;
        width: 480px;
        line-height: 30px;
    }
    &__signature {
        width: 180px;
        height: 150px;
        margin-left: 350px;
    }
}