@import "./settings/colors";
@import "./settings/fonts";

.main {
    background-color: transparent;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__image {
        margin-top: 20px;
        background-image: url("../assets/Home-Hero-Image.jpg");
        background-size: cover;
        background-position: right -25px bottom ;
        width: 620px;
        height: 700px;    
    }
    &__box {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 130px;
    }
    &__btn {
        padding: 13px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 0.75px solid transparent;
        &:hover {
            border-color: $color-base;
            cursor: pointer;
        }

        & .btn__text {
            font-weight: 300;
            display: block;
            width:170px;
            text-align: center;
            font-size: 28px;
            line-height: 34px;
            color: $color-base;
        }
    }
}

.box {
    &__title {
        margin-top:60px;
        text-align: center;
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 50px;
        letter-spacing: -0.75px;
    }
    &__buttons {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        gap: 75px;
    }
}


.main__image.giveAway {
    background-image: url("../assets/Form-Hero-Image.jpg");
    background-position: right 20% bottom 20% ;
    width: 920px;
}
.box__title.giveAway {
    width: 620px;
}
.giveAway {
    &__title {
        font-weight: 300;
        font-size: 32px;
        margin-top: 26px;
        margin-bottom: 26px;
    }
    &__steps {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 25px;
    }
    &__box {
        transform: rotate(-45deg)translate(0%,-30%);
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        font-weight: 300;

    }    
    &__step {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border: 1px solid black;
        transform: rotate(45deg);
        
    }
    &__number {
        font-size: 32px;
        font-size: 26px;
    }
}
.orangeBar {
    width: 100%;
    background-color: $bgc-bar;
    height: 120px;
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 26px;
    }
    &__text {
        margin: 0;
        margin-top: 5px;
        font-size: 16px;
    }
}

//form

.giveAway__form {
    background-image: url("../assets/Background-Form.jpg");
    background-repeat: no-repeat;
    background-position: right bottom 30%;
    background-size: cover;
    height: 760px;
    position: relative;
    &__content {
        margin-left: 100px;
        padding-top: 40px;
    }
    &__steps {
        font-weight: 300;
        font-size: 18px;
    }
    &__title {
        font-weight: 600;
        font-size: 26px;
        margin-top: 70px;
        margin-bottom: 30px;
    } 
    &__label {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 300;
        position: relative;
        display: block;
        padding-left: 70px;
        &__select {
            margin-left: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

        }
        &.custom {
            cursor: pointer;
        }
        
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        margin-top: 40px;
        
    }
    &__btns {
        position: absolute;
        bottom: 50px;
        left: 100px;
    }  
    &__btn {
        width: 120px;
        height: 60px;
        &:first-child {
            margin-right: 40px;
        }
    }
}
.specific {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    &__label {
        font-weight: 600;
        font-size: 20px;
    }
    &__input {
        background-color: transparent;
        border: 1px solid $color-base;
        height: 30px;
        padding: 5px 10px;
    }
    
    
}
.reciver {
    display: flex;
    flex-wrap: wrap ;
    width: 500px;
    gap: 20px;
    &__title {
        font-weight: 600;
        margin: 0;
        margin-top: 20px;
        font-size: 20px;
    }
}

.note {
    resize: none;
    width: 200px;
    height: 100px;
}
.formContainer {
    margin-top: 20px;
    display: flex;
    gap: 100px;
}
.address {
    margin-top: 20px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
        & label {
            font-weight: 300;
            width: 90px;
        }
        & input {
            width: 150px;
            height: 25px;
            padding: 2px 5px;
            background-color: transparent;
            border: 1px solid $color-base;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 18px;
    }
}
.date {
    margin-top: 20px;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
        & label {
            font-weight: 300;
            display: flex;
            flex-direction: column;
        }
        & input {
            width: 150px;
            height: 25px;
            padding: 2px 5px;
            background-color: transparent;
            border: 1px solid $color-base;
            appearance: none;
        }
        & textarea {
            width: 150px;
            height: 70px;
            padding: 2px 5px;
            background-color: transparent;
            border: 1px solid $color-base;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 18px;
    }
}


// Part 5

.giveAway__summary {
    margin-left: 100px;
    padding-top: 60px;
    margin-bottom: -150px;
}

.summary {
    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 50px;
    }
    &__header {
        font-size: 18px;
        font-weight: 600;
       
    }
    &__text {
        font-size: 18px;
        display: block;
        margin-top: 20px;
        &.key {
            width: 90px;
        }
        &.post {
            margin-top: 30px;
        }
        &.phone {
            margin-top: 40px;
        }  
    }
    &__group {
        margin-bottom: 40px;
        & > .summary__text::before {
            content: "";
            display: inline-block;
            background-image: url("../assets/Icon-1.svg");
            background-size: cover;
            width: 34px;
            height: 34px;
            transform: translateY(25%);
            margin-right: 20px;
        }
        
        & > .summary__text:last-child::before {
            content: "";
            display: inline-block;
            background-image: url("../assets/Icon-4.svg");
            background-size: cover;
            width: 34px;
            height: 34px;
            transform: translateY(25%);
            margin-right: 20px;
        }
    }
    &__bigGroup {
        display: flex;
        width: 700px;
        justify-content: flex-start;
        gap: 60px;
    }
    &__box {
        display: flex;
        width: 300px;
        gap: 20px;
    }
}

// Page6 

.giveAway__finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 10%;
}

.finish__text {
    font-size: 30px;
    width: 600px;
    text-align: center;
}
.finish__text.second__line {
    width: 500px;
    margin-bottom: 30px;
}

//custom checkboxes

.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkbox__custom {
        background-color: $bgc-bar;
    }
    &:checked + .label__button {
        background-color: $bgc-bar;
    }
    &__custom {
        display: block;
        width: 35px;
        height: 35px;
        background: transparent;
        position: absolute;
        top: -5px;
        left: 0;
        border: 0.75px solid $color-base;
    }
}

.select__box {
    display: flex;
    gap: 20px;
}

select {
    background-color: transparent;
    appearance: none;
    width: 200px;
    height: 30px;
    padding: 5px;
    padding-left: 10px;
    background-image: url("../assets/Icon-Arrow-Down.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: right;
    &:focus {
        background-image: url("../assets/Icon-Arrow-Up.svg");
    }
}
option.default {
     display: none;
}

.label__button {
    padding: 10px 20px;
    border: 0.75px solid $color-base;
    font-weight: 300;
    color: #000;
    cursor:pointer;
}