@import "./settings/colors";

.main {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__image {
        margin-top: 20px;
        background-image: url("../assets/Home-Hero-Image.jpg");
        background-size: cover;
        background-position: right -25px bottom ;
        width: 620px;
        height: 700px;    
    }
    &__box {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 130px;
    }
}

.box {
    &__title {
        margin-top:60px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 30px;
        margin-bottom: 15px;
        line-height: 50px;
        letter-spacing: -0.75px;
    }
    &__buttons {
        margin-top: 35px;
        display: flex;
        justify-content: center;
        gap: 75px;
    }
}

