@import "./settings/colors";
@import "./settings/fonts";


.whoWeHelp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    &__title {
        margin: 0;
        margin-top: 55px;
        margin-bottom: 25px;
        letter-spacing: -0.76px;
        font-size: 30px;
    }
    &__buttons {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    &__box {
        margin-top: 80px;
        width: 960px;
    }
}

.box {
    &__text {
        margin: 0;
        margin-inline: auto;
        width: 460px;
        text-align: center;
        margin-bottom: 66px;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid $color-underline;
    &:last-child {
        border-bottom: none;
    }
    &__left {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    &__right {
        margin-top: 30px;
    }
    &__title {
        font-family: $font-alt;
        font-size: 20px;
    }
    &__description {
        font-family: $font-alt;
        font-style: italic;
    }
    &__list {
        font-family: $font-alt;
    }
}

.pages {
    margin-top: 63px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    &__page {
        padding: 13px 15px;
        border: 1px solid transparent;
        &:hover {
            border-color: $color-underline;
        }
    }
}


.btn__text.small {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;  
}

.main__btn.small {
    padding: 0;
    padding: 23px 5px;
}